@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

@import url(nav.css);
@import url(animations.css);


html {
    scroll-behavior: smooth;
  }

  * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: #F0EBE3;
    font-family: 'Roboto', sans-serif;
}

/* Page layout */

.intro-card{
    color: #7D9D9C;
    padding: 1em;
    margin-top: 7em;
    text-align: center;
    font-size: 2rem;
    line-height: .5em;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

.intro-icons{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.intro-icons img{
    width: 30px;
    margin: 0 .5em;
}



#github:hover{
    filter: invert(41%) sepia(14%) saturate(533%) hue-rotate(138deg) brightness(96%) contrast(91%);
}

#linkedin:hover{
    filter: invert(41%) sepia(14%) saturate(533%) hue-rotate(138deg) brightness(96%) contrast(91%);
}

.my-projects{
   width: 80%;
   display: flex;
   flex-direction: column;
   margin:  10em auto;
   gap: 5em;
}

.project-card{
    display: flex;
}


.project-card img {
    max-width: 50%;
    width: 500px;
    box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.5);
}


.project-info{
    max-width: 500px;
    width: 100%;
    padding-left: 4em;
    line-height: 1.5rem;
}

.stack{
    margin-top: .5em;
}

.about{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7em auto;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.about-info{
    width: 50%;
    font-size: 1.5rem;
}


.tech-icons img{
    width: 3em;
    margin: 1em;
    margin: auto;
}


.contact{
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin:  10em auto;
    gap: 5em;
    background-color: #e2d7c5;
    opacity: 80%;
    border-radius: 1rem;
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
}



form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    gap: 1em;
}

textarea{
    resize: none;
}


input{
    padding: 1em;
}

footer{
    display: flex;
    width: 100%;
    padding: 0 2em;
    justify-content: space-between;
    align-items: center;
    background-color: #7D9D9C;
    height: 4em;
}

.into-icons,.footer-icons{
    width: 10%;
    padding: 0;
    margin: 0;
}


/* TYPEOGRAPHY */

strong{
    color: black;
}

.intro-card p {
    color: black;
    font-size: 1.5rem;
}

span{
    color: #7D9D9C;
}

h4{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: -2em;
    padding-top: 4em;
}

h2{
    padding: 0;
    margin: 0;
}

hr{
    width: 100%;
    margin: 0;
    padding: 0;
}

.project-buttons{
    margin-top: 1.5em;
    align-items: center;
}

.project-buttons a{
    text-decoration: none;
    align-items: left;
    background-color: #7D9D9C;
    color: white;
    padding: .5em 1em;
}

.project-buttons a:hover{
    text-decoration: none;
    background-color: #F0EBE3;
    color: black;
    border: 1px solid black;
    padding: .5em 1em;
}


.about h2{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1em;
}

.tech-stack h1{
    text-align: center;
    font-size: 1.25rem;
}

.form-submit{
    padding: 1em;
    margin-bottom: 3em;
    border-radius: 2rem;
    cursor: pointer;
    border: solid black 1px;
}

.contact h2{
    justify-content: center;
    text-align: center;
    margin-top: 1em;
}

textarea{
    padding: 1em;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.form-submit:hover{
    background-color: #7D9D9C;
    border-radius: 2rem;
}



/* DESKTOP */
@media (max-width: 800px){

   .intro-card h2{
    font-size: 1em;
   }

   .my-projects{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
 }

    .project-card{
        display: flex;
        flex-direction: column;
        min-width: 50%;
        align-items: center;
    }

    .project-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        max-width: 350px;
        min-width: 300px;
    }

  
     .project-card img{
        max-width: 350px;
        min-width: 300px;
    }

    .project-buttons{
        display: flex;
        flex-direction: column;
    }

    .project-info h2{
        margin-top: 1em;
    }

    .about-info{
        width: 100%;
        font-size: 1.25rem;
        justify-content: center;
        align-items: center;
    }

    .tech-stack{
        padding: 3em;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .contact{
        width: 95%;
    }

    .into-icons,.footer-icons{
        width: 10%;
        padding: 0;
        margin: auto;
    }

    .project-buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;

    }
    
    .project-buttons a:hover{
        text-decoration: none;
        background-color: #F0EBE3;
        color: black;
        border: 1px solid black;
        height: 2.5em;
    }


}






















